<section class="about-section" id="about">
  <h2>À propos de moi</h2>
  <p>Développeur informatique en formation continue, actuellement en train d'apprendre JavaScript, Java (Java EE) et Angular. Fort d’une base solide en philosophie et de plusieurs expériences professionnelles variées, je combine rigueur intellectuelle, esprit d’analyse et compétences techniques. Motivé par l’évolution constante, je cherche à intégrer une entreprise où je pourrai mettre en pratique mes acquis et développer mes compétences.</p>
  
  
</section>

  
